ul{
    padding: 0;
    width: 1000px;
    margin: 20px auto;
}
li{
    display: inline;
}
.tn{
    
    margin: 6px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
}
.recuadro{
    width: 110%;
    height: 100%;
    margin-top: 5px; 
    border-radius: 2px;
}
.titulo{
    margin-left: 12%;
}